<!-- filename: deft_meta.html -->
<!-- Main Meta-Task Monitoring Screen -->

{% extends "deft_base_mini.html" %}

{% block content %} 
<h4>Meta-Task Monitor</h4>
<!-- form name="input" method="POST">{% csrf_token %}
<input type="submit" value="SUBMIT" -->

<hr/>

<div align="right">
<table>
<tr>
<td>
{% include "deft_paginator.html" %}
</td>
<td>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</td>

<td>
Sort by: 
</td>
<td>
<a href="?sort=id">ID</a>
</td>
<td>
<a href="?sort=manager">Manager</a>
</td>
<td>
<a href="/meta/?sort=requestor">Requestor</a>
</td>

</tr>
</table>
</div>

<!-- hr/ -->
<table>
<tr>
<th>Select</th>
<th>Name</th>
<th>Template</th>
<th>Status</th>
<th>Created</td>
<th>Updated</th>
<th>Manager</th>
<th>Requestor</th>
<th>Cloud</th>
<th>Site</th>
</tr>

{% for m in metas %}
<tr>
<td><a href="/metadetail/?meta={{ m.meta_id }}">{{ m.meta_id }}</a></td>
<td>{{ m.meta_name }}</td>
<td><a href="/lib/?meta={{ m.meta_template }}">{{ m.meta_template }}</a></td>
<td>{{ m.meta_state }}</td>
<td>{{ m.meta_req_ts }}</td>
<td>{{ m.meta_upd_ts }}</td>
<td>{{ m.meta_manager }}</td>
<td>{{ m.meta_requestor }}</td>
<td>{{ m.meta_cloud }}</td>
<td>{{ m.meta_site }}</td>
</tr>
{% endfor %}

</table>
<!-- /form -->
<hr/>
{{ answer }}
<hr/>


{% endblock %}
