<!-- filename: deft_metadetail.html -->

{% extends "deft_base_mini.html" %}

  
{% block content %} 
<h4>
{% ifequal m.meta_state "template" %}
Template
{% else %}
Meta-Task
{% endifequal %}
 {{ m.meta_id }}
</h4>

{% ifequal m.meta_state "template" %}
<a href="/newmeta/?template={{ m.meta_id }}">Create a Meta-Task from this Template</a>
{% endifequal %}



<!-- form name="input" method="POST">{% csrf_token %}
<input type="submit" value="SUBMIT" -->

<hr/>
<table>
<tr>
<th>ID</th>
<th>Name</th>
<th>Template</th>
<th>Status</th>
<th>Created</td>
<th>Updated</th>
<th>Manager</th>
<th>Requestor</th>
<th>Cloud</th>
<th>Site</th>
</tr>

<tr>
<td>{{ m.meta_id }}</td>
<td>{{ m.meta_name }}</td>
<td><a href="/lib/?meta={{ m.meta_template }}">{{ m.meta_template }}</a></td>
<td>{{ m.meta_state }}</td>
<td>{{ m.meta_req_ts }}</td>
<td>{{ m.meta_upd_ts }}</td>
<td>{{ m.meta_manager }}</td>
<td>{{ m.meta_requestor }}</td>
<td>{{ m.meta_cloud }}</td>
<td>{{ m.meta_site }}</td>
</tr>
</table>

<hr/>
<table>
<tr>
<th>ID</th>
<!-- th>Meta</th -->
<th>State</th>
<th>Parameters</th>
<th>Tag</td>
<th>Comment</th>
<th>Transpath</th>
</tr>
{% for t in tasks %}
<tr>
<td><a href="/taskdetail/?task={{ t.task_id }}">{{ t.task_id }}</a></td>
<!-- td>{{ t.task_meta }}</td -->
<td>{{ t.task_state }}</td>
<td>{{ t.task_param }}</td>
<td>{{ t.task_tag }}</td>
<td>{{ t.task_comment }}</td>
<td>{{ t.task_transpath }}</td>
</tr>
{% endfor %}


</table>



<!-- /form -->

<hr/>
{{ answer }}

{% endblock %}
