<!-- filename: deft_taskdetail.html -->

{% extends "deft_base_mini.html" %}

  
{% block content %} 
<h4>Task {{ task_id }}</h4>
<!-- form name="input" method="POST">{% csrf_token %}
<input type="submit" value="SUBMIT" -->

<hr/>
<table>
{% include "deft_task_header.html" %}

<tr>
<td>{{ t.task_id }}</a></td>
<td><a href="/metadetail/?meta={{ t.task_meta }}">{{ t.task_meta }}</td>
<td>{{ t.task_state }}</td>
<td>{{ t.task_param }}</td>
<td>{{ t.task_tag }}</td>
<td>{{ t.task_comment }}</td>
<td>{{ t.task_transpath }}</td>
</tr>

</table>



<!-- /form -->

<hr/>
{{ answer }}

{% endblock %}
