
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */

.redtext
{
    color: red;
}

.boldtext
{
    font-weight: bold;
}

.italictext
{
    font-style:italic;
}
